/* 
    Document   : logo
    Created on : Dec 14, 2009, 5:48:46 PM
    Author     : Stuart
    Description:
        Purpose of the stylesheet follows.
*/


root { 
    display: block;

}
.MainLogo {
    background-image:url('../images/_NThermal_Strategies.jpg');
    background-repeat:no-repeat;
    width:242px;
    height:75px;
}

