#stripes {
    border: 1px solid #666666;
}

#stripes tbody tr td {
    font-size: 9pt;
    padding: 3px 8px;
    border-left: 1px solid #D9D9D9;
    background-color: #ffffff;
}

#stripes tbody tr.selected td {
    background-color: #3d80df;
    color: #ffffff;
    font-weight: bold;
    border-left: 1px solid #346DBE;
    border-bottom: 1px solid #7DAAEA;
}